<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rest Password Page</title>
</head>
<body>

<h3> 비밀번호를 변경할 수 있습니다. </h3>
<form th:object="${ResetRequest}" th:method="post" >

    <label for="password1">변경할 비밀번호:</label>
    <input type="password" id="password1" name="password1" required/>
    <br/>

    <label for="password2">비밀번호 확인:</label>
    <input type="password" id="password2" name="password2" required/>
    <br/>

    <br/>
    <button type="submit">변경하기</button>
</form>
</body>
</html>
